<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />




</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active light">
                <a class="nav-link" href="http://localhost:8080/">Strona Główna </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Studenci
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/users}">Wyświetl studentów</a>
                    <a class="dropdown-item" th:href="@{/users/new}">Dodaj studenta</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kierunki studiów
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/kierunki}">Wyświetl kierunki</a>
                    <a class="dropdown-item" th:href="@{/kierunki/new}">Dodaj nowy kierunek bez przedmiotów</a>
                    <a class="dropdown-item" th:href="@{/kierunekPrzedmiot/new}">Dodaj nowy kierunek z przedmiotami</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Przedmioty
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/przedmioty}">Wyświetl przedmioty</a>
                    <a class="dropdown-item" th:href="@{/przedmioty/new}">Dodaj nowy przedmiot</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nauczyciele
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/nauczyciele}">Wyświetl nauczycieli</a>
                    <a class="dropdown-item" th:href="@{/nauczyciele/new}">Dodaj nowego nauczyciela</a>
                </div>
            </li>


        </ul>
    </div>
</nav>

<div class="container-fluid text-center">
    <h1>Welcome to My Application</h1>
    <br><a class="h2" th:href="@{/users}">Zarządzaj studentami</a></br>
    <br><a class="h2" th:href="@{/kierunki}">Zarządzaj kierunkami</a></br>
    <br><a class="h2" th:href="@{/przedmioty}">Zarządzaj przedmiotami</a></br>
    <br><a class="h2" th:href="@{/nauczyciele}">Zarządzaj nauczycielami</a></br>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

