<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zarządzaj nauczycielami</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <div><h1>Zarządzaj nauczycielami</h1></div>
    <div class="m-2">
        <a class="h3" th:href="@{/nauczyciele/new}">Dodaj nowego nauczyciela</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer telefonu</th>
                <th>Tytuł</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="nauczyciel : ${listaNauczycieli}">
                <tr>
                    <td>[[${nauczyciel.id}]]</td>
                    <td>[[${nauczyciel.email}]]</td>
                    <td>[[${nauczyciel.imie}]]</td>
                    <td>[[${nauczyciel.nazwisko}]]</td>
                    <td>[[${nauczyciel.nr_tel}]]</td>
                    <td>[[${nauczyciel.tytul}]]</td>

                    <td>
                        <a class="h4" th:href="@{'/nauczyciele/edit/'+${nauczyciel.id}}">Edit</a>
                        <a class="h4" th:href="@{'/nauczyciele/delete/'+${nauczyciel.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>

